body {
	width: 100%;
    height: 100%;
    background-image: url('https://github.com/duan14/image-library/blob/image-upload/Layout_1.png?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    
}

div.popup {
	
	margin-top:15%;
	margin-left:30%;
	background:#ffffff;
	box-shadow:10px 10px 30px 0px rgba(0,0,0,0.20), 0px 0px 0px 7px rgba(0,0,0,0.05);
	border-radius:5px;
	width:599px;
	height:429px;	
}


.portrait img{
	
	background-size:contain;
	position:absolute;
	margin-top: 95px;
    margin-left: 30px;
	border-radius:100px;
	width:88px;
	height:88px;
	z-index:3;
}

.circle{
	margin-top: 95px;
    margin-left: 5px;
}

.call_icon img{

	background-size:contain;
	position:absolute;
	margin-top: 170px;
    margin-left: 43px;
	background-repeat: no-repeat;
	width:62px;
	height:103px;
	z-index:2;
	
}

/***top portion css START***/

div.top{
	position:absolute;
	margin-top: 0px;
	background:#f9f9f9;
	width:599px;
	height:141px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	z-index:2;
}

.t_row1{
	margin:9px 11px 0px 11px;
}

.logo img{
width:54px; 
height:10px; 
float:left;
}
.close_icon{
	margin-left:500px;
}

.t_row2{
	margin:-2px 30px 5px 30px;
}

.history{
	width:93px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:200;
	font-size:14px;
	color:#666666;
	float: left;
	margin-left:8px;
	text-decoration:none;
	z-index:4;
}

.in_out_call{
margin-left:50px;
}

.in_call{
	background:#00d95a;
	border-radius:4px;
	width:59px;
	height:20px;
	vertical-align:center;
	float:right;
	padding-top:2px;
}

.call_text{
	font-family:HelveticaNeue-Bold;
	font-size:14px;
	color:#ffffff;
	letter-spacing:0px;
	text-align:center;
}

.out_call {
	background:#cccccc;
	border-radius:4px;
	width:127px;
	height:20px;
	padding-top:2px;	
}

.time {
	margin-left:7px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:200;
	font-size:42px;
	color:#666666;
	letter-spacing:-1.75px;
	line-height:32px;
	text-align:right;
}

.phone_icon img{
	margin-left:8px;
	width:40px;
	height:40px;
	border-radius:100%;
}


.green_dot{
	width:155px;
}


.green_dot img{
	width:10px;
	height:10px;
	float:right;
}

.name{
	font-family: 'Titillium Web', sans-serif;
	font-weight:200;
	font-size:22px;
	color:#666666;
	text-align:left;
	width: 172px;
	height:34px;
	margin-left:5px;
}

.phone_number{
	font-family: 'Titillium Web', sans-serif;
	font-weight:200;
	font-size:22px;
	color:#00a1e0;
	text-align:right;
	float: right;
	margin-left: 70px;
	text-decoration:underline;
}
/***top portion css END***/


/***middle portion css START***/

div.middle{
	position:absolute;
	margin-top: 141px;
	width:599px;
	height:160px;
}

.m_row1{
	margin-top:10px;
}

.menu_icon img{
	margin-left: 145px;
    width: 8px;
    height: 8px;
    margin-top: -19px;
}


.detail{
	margin-left: 5px;
    margin-top: -5px;
}

.title{
	font-family:'Titillium Web', sans-serif;
	font-weight:300;
	font-size:14px;
	color:#666666;
	text-align:left;
}

.social{
	font-family:'Titillium Web', sans-serif;
	font-weight:300;
	font-size:14px;
	color:#AAAAAA;
	text-align:left;
}

.social_udline{
	text-decoration:underline;
}


.m_row2{
	margin-top:-10px;
	margin-left: 455px;
}

.call_history{
	font-family:'Titillium Web', sans-serif;
	font-weight:300;
	font-size:14px;
	color:#666666;
	text-align:left;	
	z-index:4;
}

.drop_down{
	margin-left:3px;
}

.drop_down img{
	width:9px;
	height:6px;
}

.dropbtn{
	border: 0; 
	background: transparent;
}

.lower_out_call{
	margin-left:125px;
	background:#cccccc;
	border-radius:4px;
	width:127px;
	height:20px;
	padding-top:2px;
}

.clock_icon{
	margin-left:18px;
	margin-right:3px;
	}

.clock_icon img{
	width:15px;
	height:15px;
	}

.lower_call_history{
	font-family:'Titillium Web', sans-serif;
	font-weight:300;
	font-size:14px;
	color:#666666;
	text-align:left;
	margin-left:-108px;
	width:72px;
}



.calendar_icon img{
	width:18px;
	height:18px;
	margin-left:25px;
	margin-bottom:-3px;
}

.note_icon img{
	width:19px;
	height:20px;
	margin-left:13px;
	margin-bottom:-6px;
}

.blue_udline{
	font-family:TitilliumWeb-Light;
	font-size:14px;
	color:#00a1e0;
	text-align:right;
	text-decoration:underline;
	z-index:3;
}

.calendar_block{
	margin-left:155px;
	z-index:2;
}

.note_block{
	margin-left:20px;
	margin-right:10px;
	z-index:2;
}


/***middle portion css END***/

div.more{
	position:absolute;
	margin-top: 285px ;
	margin-left:161px;
	text-align:center;
	background:#ebeff2;
	border-radius:100px;
	width:280px;
	height:30px;
}

.showmore{
	position:absolute;
	margin-top:5px;
	margin-left:25px;
	padding-top:3px;
	font-family:HelveticaNeue;
	font-size:12px;
	color:#666666;
	line-height:13px;
	z-index: 2;
}


div.bottom{
	position:absolute;
	margin-top:301px;
	background:#ebeff2;
	width:599px;
	height:128px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	z-index:1;
}

.notes{
	position:absolute;
	margin-top: 27px;
	margin-left:23px;
	background:#ffffff;
	box-shadow:0px 0px 0px 1px rgba(0,0,0,0.05);
	border-radius:4px;
	width:554px;
	height:73px;
	z-index: 2;
}

.notes_text{
	position:absolute;
	margin-top:15px;
	margin-left:30px;
	width:424px;
	font-family: 'Titillium Web', sans-serif;
	font-size:14px;
	color:#666666;
	line-height:22px;
}


.save_button{
	/***button css***/
	margin-left:465px;
	margin-right:10px;
	margin-top:13px;
	background:#00a1e0;
	border-radius:4px;
	width:75px;
	height:49px;
	border:none;
	
	/*****SAVE text css*****/
	font-family:HelveticaNeue-Bold;
	font-size:14px;
	color:#ffffff;
	letter-spacing:0px;
	text-align: center;
	vertical-align: middle;
}

